<section>
  <form action="" id="buttons-inputs-form">
    <h2>Buttons & Inputs</h2>
    <h3>Button</h3>
    <div class="row">
      <label class="var-name">Primary Button Color</label>
      <select type="text" name="Primary Button Color" class="color-select-val"></select>
    </div>
    <div class="row">
      <label class="var-name">Secondary Button Color</label>
      <select type="text" name="Secondary Button Color" class="color-select-val"></select>
    </div>
    <div class="row border">
      <label class="var-name">Button Border</label>
      <input type="text" name="Button Border Size" id="" placeholder="1" class="pixel-val">
      <select type="text" name="Button Border Color" class="color-select-val"></select>
    </div>
    <div class="row">
      <label class="var-name">Button Height</label>
      <input type="text" name="Button Height" id="" placeholder="32" class="pixel-val">
    </div>
    <h3>Input</h3>
    <div class="row">
      <label class="var-name">Input Color</label>
      <select type="text" name="Input Color" class="color-select-val"></select>
    </div>
    <div class="row border">
      <label class="var-name">Input Border</label>
      <input type="text" name="Input Border Size" id="" placeholder="1" class="pixel-val">
      <select type="text" name="Input Border Color" class="color-select-val"></select>
    </div>
    <div class="row">
      <label class="var-name">Input Height</label>
      <input type="text" name="Input Height" id="" placeholder="32" class="pixel-val">
    </div>
  </form>
</section>