<section>
  <form action="" id="base-colors">
    <h2>Base Colors</h2>
    <div class="row">
      <label class="var-name">Primary Color</label>
      <input type="text" name="" id="" placeholder="efefef" maxlength="6" class="color-val">
    </div>
    <div class="row">
      <label class="var-name">Secondary Color</label>
      <input type="text" name="" id="" placeholder="efefef" maxlength="6" class="color-val">
    </div>
    <div class="row">
      <label class="var-name">Tertiary Color</label>
      <input type="text" name="" id="" placeholder="efefef" maxlength="6" class="color-val">
    </div>
    <div class="row">
      <label class="var-name">Gray</label>
      <input type="text" name="" id="" placeholder="efefef" maxlength="6" class="color-val">
    </div>
    <div class="row">
      <label class="var-name">Light Gray</label>
      <input type="text" name="" id="" placeholder="efefef" maxlength="6" class="color-val">
    </div>
    <div class="row">
      <label class="var-name">Very Light Gray</label>
      <input type="text" name="" id="" placeholder="efefef" maxlength="6" class="color-val">
    </div>
    <div class="row">
      <label class="var-name">Dark Gray</label>
      <input type="text" name="" id="" placeholder="efefef" maxlength="6" class="color-val">
    </div>
    <div class="row">
      <label class="var-name">Very Dark Gray</label>
      <input type="text" name="" id="" placeholder="efefef" maxlength="6" class="color-val">
    </div>
    <div class="row no-append">
      <a class="btn update">Update</a>
      <a class="btn add">New</a>
    </div>
  </form>
</section>