@import "partials/base";
@import "partials/normalize";

// Layout
html {
  font-size: 62.5%;
}

body {
  overflow: scroll;
}

.row {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px dashed #aaa;
  padding-top: 10px;
  position: relative;
}

.btn {
  display: block;
  height: 32px;
  background: #333;
  color: white;
  border: 1px solid black;
  padding: 5px;
}

.update {
  transition: all .23s;
  width: 100px;
  text-align: center;
  border-radius: 5px;
  letter-spacing: 3px;
  border: none;
  border-bottom: 2px solid #CE0950;
  background: #DA5D5D;
  color: rgba(255, 255,255, 0.7);
  pointer-events: all;
  cursor: pointer;
  &.disabled {
    border: none;
    background: #ddd;
    color: #aaa;
    pointer-events: none;
  }
}

.flex {
  display: flex;
  &.space-between {
    justify-content: space-between;
  }
  &.wrap {
    flex-wrap: wrap;
  }
  &.end {
    justify-content: flex-end;
  }
}

// Styling
h1 {
  background: url('../images/background_repeat.png') repeat-x;
  padding: 15px 5%;
  height: 95px;
  background-size: 100% 95px;
  color: white;
  margin: 0;
  position: relative;
  z-index: 100;
  img {
    width: 100px;
    margin-left: -50px;
    position: relative;
    left: 50%;
    top: 28px;
  }
}

#container {
  padding: 0 2%;
}

.add {
  background: none;
  color: #333;
  position: relative;
  width: 70px;
  height: 21px;
  padding-top: 1px;
  margin-top: 5px;
  &:after {
    content: "+";
    position: absolute;
    right: -5px;
    top: -7px;
    display: inline-block;
    width: 33px;
    height: 33px;
    border-radius: 100%;
    background: #333;
    color: white;
    font-size: 3rem;
    box-sizing: border-box;
    padding: 6px 0 0 10px;
  }
}

.var-name {
  width: 135px;
  margin-right: 10px;
}

input {
  box-sizing: border-box;
  &[class*="-val"] {
    width: 70px;
  }
  &+ select {
    margin-left: 10px;
  }
}

select {
  height: 20px;
}

.swatch-list {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    width: 50%;
    padding: 5px;
    border: 1px solid black;
    &.dark-color {
      color: #333;
    }
    &.light-color {
      color: #eee
    }
  }
}

.generated-gui {
  position: absolute;
  left: -30%;
  background: #1d1f20;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, .2);
  height: 100%;
  margin: 0;
  width: 20%;
  transition: all .23s;
  z-index: 1;
  &.on {
    left: 0;
    &+ .forms {
      margin-left: 20%;
    }
  }
  h2 {
    padding: 10px;
    color: #777;
    font-size: 1.3rem;
    font-weight: normal;
    background: #121212;
    margin: 20px 0 0 0;
    letter-spacing: 3px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    &:first-of-type {
      border-top: none;
      margin-top: 0;
    }
  }
}

.font-sizes {
  list-style: none;
  padding-left: 10px;
  color: white;
}


#create-var-list {
  width: 200px;
  text-align: center;
}

.var-list {
  width: 500px;
  height: 500px;
  border: 10px solid #333;
  box-shadow: 0 3px 5px;
}

.output {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: all .23s;
  width: 100%;
  height: 100%;
  z-index: 100;
  &.on {
    pointer-events: all;
    opacity: 1;
    .output-modal {
      top: 20%;
    }
  }
  .background {
    opacity: .7;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
  }
  .close-btn {
    position: absolute;
    top: -16px;
    right: -16px;
    background-color: crimson;
    border-radius: 100%;
    font-size: 3rem;
    width: 40px;
    height: 40px;
    padding: 1px 0 0 6px;
    color: white;
    border: 5px solid #333;
  }
}

.output-modal {
  transition: all .23s ease-out;
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -200px;
  z-index: 500;
}

.forms {
  transition: all .23s;
  padding-top: 20px;
  section {
    padding: 0 10px;
  }
}

.tools {
  background: #1d1f20;
  border-top: 1px solid rgba(255,255,255,0.05);
  border-bottom: 1px solid rgba(255,255,255,0.05);
  padding: 10px;
  position: relative;
  z-index: 100;
  select {
    width: 300px;
    height: 30px;
    background: #efefef;
    border: none;
    font-size: 1.6rem;
    color: #333;
    text-transform: capitalize;
  }
}

.new-site {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transition: all .5s;
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  input {
    height: 100px;
    width: 50%;
    padding-left: 10px;
    font-size: 30px;
    text-transform: uppercase;
    color: #888;
    transition: all .23s;
    background: #efefef;
    border-radius: 10px 0 0 10px;
    border: 1px solid #efefef;
    &:focus {
      background: white;
    }
  }
  &.on {
    top: 45%;
  }
}

.selected-site-name {
  transition: all .23s;
  opacity: 0;
  &.on {
    opacity: 1;
  }
}

.new-site-button {
  height: 100px;
  display: block;
  width: 300px;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 3;
  text-align: center;
  border-radius: 0 10px 10px 0;
  border: none;
  border-bottom: 4px solid #CE0950;
  background: #DA5D5D;
  color: rgba(255, 255,255, 0.7);
}

.edit-mode {
  transition: all .2s;
  opacity: 0;
  pointer-events: none;
}

.toggle-mode, .toggle-output {
  width: 100px;
  text-align: center;
  background: #efefef;
  border: none;
  color: #444;
  letter-spacing: 3px;
  border-radius: 5px;
  border-bottom: 2px solid #888;
}

.toggle-output {
  width: 160px;
}

.on {
  opacity: 1;
  pointer-events: all;
}
