@import "partials/base";
@import "partials/normalize";

// Layout
html {
  font-size: 62.5%;
}

.row {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px dashed #aaa;
  padding-top: 10px;
  position: relative;
}

.btn {
  display: block;
  height: 32px;
  background: #333;
  color: white;
  border: 1px solid black;
  padding: 5px;
}

.flex {
  display: flex;
  &.space-between {
    justify-content: space-between;
  }
}

// Styling
h1 {
  background: url('../images/background_repeat.png') repeat-x;
  padding: 15px 5%;
  height: 95px;
  background-size: 100% 95px;
  color: white;
  margin: 0;
  img {
    width: 100px;
    margin-left: -50px;
    position: absolute;
    left: 50%;
    top: 43px;
  }
}

#container {
  padding: 20px 5%;
}

.add {
  background: none;
  color: #333;
  position: relative;
  width: 70px;
  height: 21px;
  padding-top: 1px;
  margin-top: 5px;
  &:after {
    content: "+";
    position: absolute;
    right: -5px;
    top: -7px;
    display: inline-block;
    width: 33px;
    height: 33px;
    border-radius: 100%;
    background: #333;
    color: white;
    font-size: 3rem;
    box-sizing: border-box;
    padding: 6px 0 0 10px;
  }
}

.var-name {
  width: 135px;
  margin-right: 10px;
}

input {
  box-sizing: border-box;
  &[class*="-val"] {
    width: 70px;
  }
  &+ select {
    margin-left: 10px;
  }
}

select {
  height: 20px;
}

.swatch-list {
  border: 1px solid #efefef;
  padding: 0;
  list-style: none;
  li {
    flex: 1;
    padding: 5px;
    &.dark-color {
      color: #333;
    }
    &.light-color {
      color: #eee
    }
  }
}

.font-sizes {
  list-style: none;
}


#create-var-list {
  width: 200px;
  text-align: center;
}

.var-list {
  width: 500px;
  height: 500px;
}

.forms {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.new-site {
  position: relative;
  transition: all .5s;
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  margin-top: 15%;
  input {
    height: 100px;
    width: 50%;
    padding-left: 10px;
    font-size: 30px;
    text-transform: uppercase;
    color: #888;
  }
}

.new-site-button {
  height: 100px;
  display: block;
  width: 24%;
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 3;
  text-align: center;
}

.edit-mode {
  position: relative;
  transition: all .2s;
  opacity: 0;
  pointer-events: none;
}

.on {
  opacity: 1;
  pointer-events: all;
}
